extends layout

block content
  main.p-5
    header.d-flex.justify-content-between.align-items-center  
      h1= title 
      if currentUser 
        button#createMessage.btn.btn-primary Create Message 
      else 
        button#login.btn.btn-primary Login       

    .container-xxl.mt-5
      if messages 
        each message in messages 
          p #{message}
      else  
        p no messages to display at the moment

  script(type="module" src="/javascript/pages/index.js")
      

