* {
  box-sizing: border-box;
}
body {
  background-color: #f4f4f4;
}

.navbar-nav a.nav-link.active {
  color: #0d6efd;
}

.nav-img {
  width: 40px;
}
.content {
  height: 200px;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-header p {
  padding: 10px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}
.card-header p span {
  color: #198754;
  font-weight: 600;
}
.card-body .title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
hr {
  margin: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: translateY(-20%);
  }
}


/* ERROR BANNER */
.alert {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

